  .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-family: 'Figtree', sans-serif;
    letter-spacing: 0.1em;   
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: 10.5px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11.8pt;
    z-index: 3;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 10.5px;
    position: fixed;
    background-color: white;
    min-width: 100px;
    z-index: 3;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-align: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11.8pt;
    z-index: 3;
  }

  #buffer {
    padding-right: 35px;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #0e5f8f;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    color: #0e5f8f;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 700px) {
    .dropdown {
        display: none;
    }
  }

  /* Make Navigation Elements Disapear */

  @media screen and (min-width: 700px) {
    #response {
        display: none;
    }
  }