h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    color: #0e5f8f;
    position: fixed;
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 2px;
    background-color: white;
    z-index: 2;
}

@media (min-width: 850px) {
    h1 {
      display: none;
    }
    }

.buffer {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

@media (min-width: 850px) {
    .buffer {
        display:none;
    }
}

.header {
    background-color: white;
}

.header a {
    text-decoration: none;
    color: #0e5f8f;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start; /* Aligns the items to the start (left) */
    padding-left: 400px; /* Default padding */
    padding-top: 75px; /* Optional: Add some top padding for aesthetics */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 10px; /* Space between images */
    max-width: calc(100% - 300px); /* Ensures grid does not exceed the container width */
    width: fit-content; /* Allows grid to shrink to fit items */
    padding: 10px;
    padding-bottom: 150px;
}

@media (max-width: 850px) {
    .container {
        padding-left: 20px; /* Remove padding when screen is less than 850px */
        padding-right: 20px;
        justify-content: center;
    }

    .image-grid {
        max-width: 100%; /* Ensure the grid takes full width without exceeding it */
    }
}

.grid-item {
    width: 100%; /* Ensures full width of the grid item */
    position: relative;
    padding-top: 100%; /* Maintains a square aspect ratio */
    overflow: hidden; /* Hides overflow */
}

.grid-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width:  100%; /* Allow width to auto adjust */
    height: 100%; /* Fill the height */
    transform: translate(-50%, -50%); /* Center the image */
    object-fit: cover; /* Ensures the entire image fits within the square without distortion */
}

.lightbox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(247, 247, 247, 0.8); /* Black background with transparency */
}

.lightbox-content-wrapper {
    position: relative; /* Keep it for caption positioning */
    display: flex; /* Center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height to center the image */
}

.lightbox-content {
    max-width: 90%; /* Limit the image width */
    max-height: 80%; /* Limit the image height to allow space for the caption */
    width: auto; /* Allow the width to adjust automatically */
    height: auto; /* Allow the height to adjust automatically */
    display: block; /* Ensure it behaves as a block element */
}

.lightbox-caption {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    color: white;
    background-color:rgba(0, 0, 0, .7);
    font-size: 15px;
    padding: 10px 0px;
    padding-left: 20%;
    text-align: left;
    font-family: 'Figtree', sans-serif;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s; /* Smooth transition */
}

/* Show caption only when hovering over the image */
.lightbox-content:hover + .lightbox-caption {
    opacity: 1; /* Show caption on hover */
}

@media (max-width: 850px) {
    .lightbox-caption {
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
    z-index: 1000;
}

.close:hover {
    color: #0e5f8f;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
    padding: 15px 50px; /* Increase padding for larger buttons */
    font-size: 20px; /* Increase font size */
    border-radius: 5px; /* Optional: Rounded corners */
    transition: color 0.3s; /* Smooth color transition */
    background-color: transparent;
}

@media (max-width: 850px) {
    .prev, .next {
        padding: 15px 20px;
    }
}

.prev {
    left: 20px; /* Position to the left */
}

.next {
    right: 20px; /* Position to the right */
}

.prev:hover, .next:hover {
    color: #0e5f8f;; /* Darker background on hover */
}


